/* /* <style>
    table{
        border-width: 1px;
        border-style : solid;
        border-color:blue;
        width:50%;
        border-collapse:collapse;
    } */
    td,th{ 
        border-width:1px;
        border-style:solid;
        border-color:red;
        width:33%;
    }
    body{background-color:beige}
    h1{
        color:palevioletred;
        text-decoration: underline blue;
    }
    h3{
        color:blue;
        text-decoration: underline palevioletred;
    }
/* </style> */

